<div class="container">
    <h1>Appartement List</h1>
    <a routerLink="/appartement/add">Add Appartement</a>
    <div class="row">
        <div *ngFor="let appartement of appartementList" class="card col-3 m-2" style="width: 18rem;">
            <img [src]="appartement.residence.image" class="card-img-top" alt="{{ appartement.residence.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ appartement.terrasse }} </h5>
              <p class="card-text"><b>Category : </b> {{ appartement.category }} </p>
              <p class="card-text"><b>Surface : </b> {{ appartement.surface }} </p>
              <a [routerLink]="['/appartement/details/',appartement.id]" class="btn btn-primary">Details</a>
              <a [routerLink]="['/appartement/update/',appartement.id]" class="btn btn-warning m-1">Update</a>
              <button class="btn btn-danger" (click)="deleteAppartement(appartement.id)">Delete</button>
            </div>
          </div>
    </div>
</div>