<div class="container">
    <h1>Add Appartement</h1>
    <form [formGroup]="addAppartementForm" >
        <div class="row mb-3">
          <label for="inputCategory3" class="col-sm-2 col-form-label">Category</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="category" id="inputCategory3">
            <div class="">

            </div>
            <div *ngIf="category!.touched && category!.errors?.['required']" class="alert alert-danger m-2" >Category is required.</div>
            <div *ngIf="category!.touched && category!.errors?.['minlength']" class="alert alert-danger m-2" >Category must have at least 3 caracters.</div>
            <div *ngIf="category!.touched && category!.errors?.['pattern']" class="alert alert-danger m-2" >Category must have only letters.</div>
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputSurface3" class="col-sm-2 col-form-label">Surface</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" formControlName="surface" id="inputSurface3">
            <div *ngIf="surface!.touched && surface!.errors?.['required']" class="alert alert-danger m-2" >Category is required.</div>
        </div>
        </div>
     
        <button type="submit" (click)="addAppartement()" [disabled]="addAppartementForm.invalid" class="btn btn-primary">Add</button>
      </form>
</div>